/* Sangría y alineación de texto */
.sangria     { text-indent: 60px; }
.derecha     { text-align: right; }
.izquierda   { text-align: left; }
.centro      { text-align: center; }
.justificado { text-align: justify; }
