/* Tipos de letra monospace */
.courier  { font-family: Courier New, Courier, monospace; }
.lucida   { font-family: Lucida Console, monospace; }
.consolas { font-family: Consolas, monaco, monospace; }
