/* Colores del arcoiris */

.rojo     { color: red; }
.naranja  { color: orange; }
.amarillo { color: yellow; }
.verde    { color: green; }
.azul     { color: cyan; }
.anil     { color: blue; }
.violeta  { color: violet; }