H4		{CLEAR: both; MARGIN-TOP: 1.2em; FONT-SIZE: 110%; MARGIN-BOTTOM: 0.5em; MARGIN-LEFT: 1em}
H5		{CLEAR: both; MARGIN-TOP: 1.2em; FONT-SIZE: 100%; MARGIN-BOTTOM: 0.5em; MARGIN-LEFT: 2em}
H6		{CLEAR: both; MARGIN-TOP: 0.2em; FONT-SIZE: 70%; MARGIN-BOTTOM: 0.5em} 
FONT		{FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; FONT-SIZE: 14px}
TD		{FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; FONT-SIZE: 14px}
TH		{FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; FONT-SIZE: 14px}
BODY		{FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; FONT-SIZE: 14px}
<!-- P		{FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; FONT-SIZE: 14px}
DIV		{FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; FONT-SIZE: 14px}
INPUT 	{FONT-SIZE: 11px; FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif;}
TEXTAREA	{BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Arial,Helvetica,Sans Serif; BORDER-RIGHT-WIDTH: 1px}
SELECT 	{BORDER-TOP-COLOR: #000000; BORDER-LEFT-COLOR: #000000; BORDER-RIGHT-COLOR: #000000; BORDER-BOTTOM-COLOR: #000000; BORDER-TOP-WIDTH: 1px; BORDER-LEFT-WIDTH: 1px; FONT-SIZE: 11px; BORDER-BOTTOM-WIDTH: 1px; FONT-FAMILY: Verdana,Arial,Helvetica,Sans Serif; BORDER-RIGHT-WIDTH: 1px}
FORM 		{FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; FONT-SIZE: 12px}
A:link      {BACKGROUND: none; COLOR: #000088; TEXT-DECORATION: none}
A:active    {BACKGROUND: none; COLOR: #FF0000; TEXT-DECORATION: none}
A:visited   {BACKGROUND: none; COLOR: #000088; TEXT-DECORATION: none}
A:hover     {BACKGROUND: none; COLOR: #FF0000; TEXT-DECORATION: none}
.title      {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 28px; FONT-WEIGHT: bold; FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; TEXT-DECORATION: none}
.content 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 16px; FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif}
.subtitle	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 18px; FONT-WEIGHT: bold; FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif}
.storytitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; TEXT-DECORATION: none}
.storycat	{BACKGROUND: none; COLOR: #FFFFFF; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; TEXT-DECORATION: none}
.boxtitle 	{BACKGROUND: none; COLOR: #363636; FONT-SIZE: 11px; FONT-WEIGHT: bold; FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; TEXT-DECORATION: none}
.boxcontent 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif}
.option 	{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 12px; FONT-WEIGHT: bold; FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; TEXT-DECORATION: none}
.tiny		{BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; TEXT-DECORATION: none}
.footmsg    {BACKGROUND: none; COLOR: #000000; FONT-SIZE: 11px; FONT-WEIGHT: normal; FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; TEXT-DECORATION: none}
.footmsg_l	{BACKGROUND: none; COLOR: #000088; FONT-SIZE: 11px; FONT-WEIGHT: normal; FONT-FAMILY: Arial,Verdana,Helvetica,Sans Serif; TEXT-DECORATION: none}
.box		{FONT-FAMILY: Arial,Verdana,Helvetica; FONT-SIZE: 11px; border: 1px solid #000000; background-color: #FFFFFF}