# Opciones
SetEnv TZ Europe/Madrid

RewriteEngine On

# Force SSL and WWW
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^picuino.com$ [NC]
RewriteRule ^ https://www.picuino.com%{REQUEST_URI} [L,NE,R=301]

# Duración de la caché
<ifModule mod_expires.c>
<Filesmatch "\.(jpg|jpeg|png|svg|ico|gif|ttf|htm|html|xml|txt|css|js|php|swf|woff2|wasm)$">
    ExpiresActive on
    ExpiresDefault "access plus 14 days"
</Filesmatch>
</ifModule>

# Comprimir contenido
SetOutputFilter DEFLATE
SetEnvIfNoCase Request_URI "\.(?:jpeg|jpg|png|gif|zip|pdf)$" no-gzip

# Error 404
ErrorDocument 404 /error-404.html