/* Lato */
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato/Lato-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato/Lato-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato/Lato-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url("fonts/Lato/Lato-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

/* UbuntuMono */
@font-face {
  font-family: 'UbuntuMono';
  src: url("fonts/UbuntuMono/UbuntuMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuMono';
  src: url("fonts/UbuntuMono/UbuntuMono-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'UbuntuMono';
  src: url("fonts/UbuntuMono/UbuntuMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'UbuntuMono';
  src: url("fonts/UbuntuMono/UbuntuMono-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}