/* logo */
.wy-side-nav-search>a img.logo,
.wy-side-nav-search .wy-dropdown>a img.logo {
max-width:220px;
}

.socialmedia img {
margin: 0;
padding: 0;
}

/* Footer */
footer {
padding-top: 20px;
padding-bottom: 20px;
min-height: 80px;
}

footer p, footer ul {
text-align:center;
line-height: 150%;
font-size:90%;
}

/* list of links in footer */
ul.link-list {
padding: 12px 0;
margin: 0;
}

ul.link-list li {
display: inline;
padding: 0 0 0 4px;
margin: 4px 0;
border-left: 1px solid #346;
}

ul.link-list li a {
padding: 4px;
}
.link-list li:first-child {border-left: none;}


/* Responsive YouTube videos */
.video-center {
position:relative; 
padding-bottom:56.25%;
padding-top:30px;
height:0;
overflow:hidden;
margin: 10px 0 16px 0;
}

.video-center iframe, .video-container object, .video-container embed {
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}

/* Cookies Advise */
#cookiesbar {
font-size:16px;
line-height:1.5em;
display:block;
position:fixed;
bottom:0;
text-align:center;
max-width:764px;
padding: 32px 32px 48px 32px;
margin: 12px 20px 12px 0;
background-color: rgba(40,40,40,0.97);
color:#fff;
z-index:99999;
}

#cookiesTitle {
font-size:24px;
font-weight:bold;
margin-bottom:32px;
}

#cookiesbar a {
display:inline-block;
padding:4px 8px;
color:#e0e000;
text-decoration:none;
}

#cookiesbar a:hover {
background-color: #444;
}

#cookiesBtn {
font-weight: bold;
border: 2px solid #000;
border-radius: 12px;
padding: 50px;
margin: 32px 20px 0 20px;
}

#cookiesBtn:hover  {
  cursor: pointer;
  box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(-2px);
  transition: transform 150ms;
}


/* Adsense */
ins {
background: #fcfcfc;
}

/* Calculadoras */
.calc_row {
padding-bottom: 2px;
}

.calc_sname {
display: inline-block;
min-width: 10em;
}

.calc_sval {
display: inline-block;
width: 5em;
}

.calc_sval input[type=text] {
background-color: #FFFFC0;
color: #000;
width: 100%;
padding: 1px 4px 0 4px;
height: 22px;
text-align: right;
box-sizing: border-box;
border: 1px solid #888;
border-radius: 4px;
}

.calc_scalc  {
display: inline-block;
width: 5em;
}

.calc_scalc input[type=text] {
background-color: #C0FFFF;
color: #000;
width: 100%;
padding: 1px 4px 0 4px;
height: 22px;
text-align: right;
box-sizing: border-box;
border: 1px solid #888;
border-radius: 4px;
}

.calc_sunit {
display: inline-block;
min-width: 2em;
text-align: center;
}
