/*********   GENERAL   **********/

body {
  font-family: "Lato","Helvetica Neue",Arial,sans-serif;
  font-size: 120%;
  min-width: 320px;
  margin: 0;
  color: black;
  background-color: #fff;
}

hr { 
  color: black; 
  margin: 8px 0 16px 0;
}

h1, h2 {
  font-family: "Lato","Helvetica Neue",Arial,sans-serif;
  font-size: 100%;
  line-height: 150%;
  text-align: center;
}

a {
  text-decoration: none; 
  outline: none;
}

.width-limit {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 4px;
}

/************   HEADER   ************/

header {
  background: #2980B9;
  min-height: 96px;
}

.vertical-align {

}

.header-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 100px;
  margin: 0;
  padding: 0;
}

.header-right {
  display: table;
  padding: 0 4px 0 6px;
  margin: 16px 0 16px 0;
}

.logo {
  display: table;
  padding-right: 24px;
  margin: 12px 0 12px 0;
}

.logo a {
  display: table-cell;
  vertical-align: middle;
}

.search-div {
  display: table-cell;
  vertical-align: middle;
}

.search {
  width: 220px;
  padding: 0 12px 0 0;
}

.search input[type="text"] {
  outline: none;
  font-size: 16px;
  padding: 6px 4px;
  border-radius: 50px;
  border: 0 solid #2472a4;
}

.lang {
  display: table-cell;
  vertical-align: middle;
  font-size: 18px;
  font-weight: bold;
}

.lang a {
  color: white; 
}


/************   MAIN CONTENT  ************/

.content {
  padding-bottom: 12px;    
}

.content ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;    
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

.content ul li {
  background-color: #F4F4F4;
  padding: 4px;
  margin: 4px;
  width: 150px;
  text-align: center;
}

.content ul li img {
  width: 150px;
  height: 120px;
  object-fit: contain;
}

.content ul li h2 {
  margin: 0;
  padding: 4px 0 0 0;
}

.content ul li a, ul li a:visited, .content ul li a:active {
  color: #2980B9;
}

.cleaner {
  clear: both;
  padding: 1px 0 0 0;
}


/************   FOOTER   ************/

footer {
  background-color: #2980B9;
  color: #fff;
  margin: 0;
  line-height: 200%;
  padding: 0;
  font-size: 12px;
  text-align: center;
}

.footer-content {
    padding: 6px 0;
}

footer ul {
  display: flex;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

footer ul li {
  display: inline;
  list-style: none;
  padding: 0 4px;
  margin: 4px 0;
  border-left: 1px solid #fff;
}

footer ul li a {
  background-color: #2980B9;
  color: #fff;
  padding: 2px 4px;
  text-decoration: none;
}

footer ul li a:visited {
  color: #fff;
}

footer ul li a:hover {
  color: #2980B9;
  background-color: #fff;
}

footer li:first-child {
  border-left: none;
}


/************   FONTS   ************/

@font-face{
  font-family:"Lato";
  font-display:swap;
  src:url("fonts/lato-regular.eot");
  src:url("fonts/lato-regular.eot?#iefix") format("embedded-opentype"),url("fonts/lato-regular.woff2") format("woff2"),url("fonts/lato-regular.woff") format("woff"),url("fonts/lato-regular.ttf") format("truetype");
  font-weight:400;
  font-style:normal;
  font-display:swap
}

@font-face{
  font-family:"Lato";
  font-display:swap;
  src:url("fonts/lato-bold.eot");
  src:url("fonts/lato-bold.eot?#iefix") format("embedded-opentype"),url("fonts/lato-bold.woff2") format("woff2"),url("fonts/lato-bold.woff") format("woff"),url("fonts/lato-bold.ttf") format("truetype");
  font-weight:700;
  font-style:normal;
  font-display:swap
}
