a {
	color: #006666;
	text-decoration: none;
}
a:hover {
	color: #009999;
}
.textopeque {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}
.superpequeño {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	vertical-align: super;
}
.subpeque {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	vertical-align: sub;
}
.parapop {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-style: normal;
	font-weight: normal;
	background-color: #f1f1f1;
	text-align: justify;
	display: block;
	padding: 4px;
	width: 280px;
	border: thin dashed #1B64D7;
	margin: 4px;
}
.sobre {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	text-decoration: overline;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
}
.recuadro {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	border: 1px solid #99ddee;
	background-color: #eeFFf7;

}
.recuadrorojo {
	border: 1px solid #009999;
}