{%- macro index_main_link(title, link, image) -%}
  <!-- {{ title }} -->
  <div class="item">
  <div class="image_center"><a href="{{ link }}">
  <img src="{{ image }}" width="156" height="120" title="{{ title }}" alt="{{ title }}"></a></div>
  <h1><a href="{{ link }}">{{ title }}</a></h1>
  </div>
{%- endmacro -%}

<!DOCTYPE html>
<html lang="es-es">

<head>

  <title>Página principal - Picuino</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Recursos educativos libres para Tecnología en Educación Secundaria. Dibujo, mecánica, electricidad, electrónica, programación, informática, Arduino y más.">
  <link rel="stylesheet" href="_static/index.css" type="text/css">

  <link rel="icon" type="image/png" href="/favicon-16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="/favicon-48.png" sizes="48x48">
  <link rel="icon" type="image/png" href="/favicon-96.png" sizes="96x96">
</head>

<body>

  <!-- LOGO -->
  <div class="header"> <div class="width_limit">

  <div class="logo">
  <a href="https://www.picuino.com">
  <img title="Picuino logo"
       src="_static/logo-picuino-bgblue.png"
       alt="Picuino logo" width="240">
  </a>
  </div>

  <div role="search">
  <form id="rtd-search-form" class="search" action="search.html" method="get">
    <input type="text" name="q" placeholder="Buscar...">
    <input type="hidden" name="check_keywords" value="yes">
    <input type="hidden" name="area" value="default">
  </form>
  </div>

  <div style="clear: both;"></div>

  </div> </div>


  <!-- MAIN CONTENT -->
  <div class="inner"> <div class="width_limit">

  <p class="center">Recursos educativos libres para Tecnología en Educación Secundaria.</p>

  <div class="center-items">

    {{ index_main_link('Dibujo', 'es/dibujo-index.html',
    '_static/index-boceto.jpg') }}

    {{ index_main_link('Mecánica', 'es/mecan-index.html',
    '_static/index-mecan.png') }}

    {{ index_main_link('Materiales', 'es/material-index.html',
    '_static/index-material.jpg') }}

    {{ index_main_link('Electricidad', 'es/electric-index.html',
    '_static/index-electric.png') }}

    {{ index_main_link('Programación', 'es/prog-index.html',
    '_static/index-ardublock.png') }}

    {{ index_main_link('Arduino', 'es/arduprog/index.html',
    '_static/index-arduprog.png') }}

    {{ index_main_link('Control', 'es/arduprog/control-index.html',
    '_static/index-control.jpg') }}

    {{ index_main_link('Informática', 'es/informatica-index.html',
    '_static/index-informatica.png') }}

    {{ index_main_link('Comunicaciones', 'es/comm-index.html',
    '_static/index-comunicaciones.png') }}

    {{ index_main_link('Taller', 'es/taller-index.html',
    '_static/index-taller.jpg') }}

    {{ index_main_link('Varios', 'es/recursos-index.html',
    '_static/index-varios.png') }}

    {{ index_main_link('Legislación', 'es/ley-index.html',
    '_static/index-legislacion.png') }}

    {{ index_main_link('Cuestionarios', 'https://www.picuino.com/test/',
    '_static/index-cuestionarios.png') }}

    {{ index_main_link('Foro', 'https://www.picuino.com/foro/',
    '_static/index-forum.png') }}


  </div>

  </div> </div> <!-- MAIN CONTENT -->


  <div class="cleaner"></div>

  <!-- FOOTER -->
  <footer>
  <div class="width_limit">

  <ul class="link-list">
  <li><a href="es/contacto.html">Contacto</a>
  </li><li><a href="es/legal-aviso.html">Aviso legal</a>
  </li><li><a href="es/legal-cookies.html">Política de Cookies</a>
  </li><li><a href="es/legal-atribution.html">Créditos</a>
  </li><li><a href="genindex.html">Glosario</a>
  </li><li><a href="es/index.html">Índice</a>
  </li>
  </ul>

  <p>{% trans copyright=copyright|e %}Copyright &copy; {{ copyright }}{% endtrans %}</p>

  </div>
  </footer>

  </body>
</html>