body{
	padding-top: 60px;
}

#wrapper_drawing{
	height:500px;
	width:100%;
	position: relative;
}

#drawing_area{
	height: 100%;
	width: 100%;
	overflow: auto;
	position: absolute;
}

#drawing_area canvas{
	border: 1px solid black;
}

div.toolbox img{
	margin-left: auto;
	margin-right: auto;
}

#modal_layer{
	background-color: rgba(0,0,0,.3);
	opacity: .3;
	position: absolute;
	height:100%;
	width: 100%;
}

#modal_input{
	width: 400px;
	background-color: white;
	border: 1px black solid;
	opacity: 2;
	position: relative;
}

#resistor_preview{
	background-color: #fff;
}

#ref_polarity, #ref_preview{
	display: block;
	float: left;
	width: 150px;
}

#ref_preview{
	margin-left: 30px;
}