p {
	text-align: justify;	
}

img{border:0}
.iframe{border:0}

.cadroder {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: center;
	background-color: #EFEFEF;
	padding: 8px;
	width: 270px;
	vertical-align: top;
}

.celda1 {
	border: 1px solid #009999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: center;
}
.celda0 {
	border: 1px solid #009999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: center;
	background-color: #EAEAEA;
}
.celda1esq {
	border: 1px solid #009999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: left;
}
.celda2 {
	border: 1px solid #009999;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	text-align: center;
}
.celdacentro {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	text-align: center;
}

.binario {
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: solid;
	border-bottom-color: #009999;
	border-left-color: #009999;
}
.rojo {
	color: #E10000;
}

.recuadro2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	border: 1px solid #009999;
	padding: 5px;
}

.recuadroclip {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	padding: 5px;
	background-image: url(imagen/clipcon.png);
}


.recuadro3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	border: 1px solid #009999;
	padding: 5px;
	background-color: #FFFFFF;
}

.celdasim {
	text-align: center;
	height: 33px;
	width: 33px;
	overflow: hidden;
}

A.celdasim:link{
	color:#FFF;
	text-decoration: none;
}

